<section class="right-section">
    <div class="right-section-contents">
        <section class="about gap">
            <div class="right-title">Rest full com Django</div>
            <p class="about-me-contents">
              Este projeto é uma aplicação prática de desenvolvimento web com Django, combinando recursos de autenticação, banco de dados, API RESTful  por meio de perguntas e votos. Ele oferece uma base para a criação de  compartilhamento de conhecimento e solução de problemas.
            </p>
        </section>


{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
      <li> Question - <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
        <p>
        Concluir o projeto de desenvolvimento de uma API RESTful com Django foi uma jornada emocionante e recompensadora. Durante todo esse processo, aprendi muito e enfrentei desafios que me ajudaram a aprimorar minhas habilidades como desenvolvedor. Agora que finalmente chegamos ao fim desse projeto, quero compartilhar minhas reflexões e conquistas.
        <button data-toggle-text=" go ">
          Congratulations
        </button>
      </p>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}

{% load static %}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">
<link rel="stylesheet" href="{% static 'polls/responsive.css' %}">


